.select-level {
    @include select-container;
    margin: spacing("sm");
    justify-content: center;

    select {
        @include select-base;
        @include select-arrow;
        font-size: font-size("500");
    }

    @include responsive-layout("small") {
        select {
            font-size: font-size("400");
            padding: spacing("xs") calc(#{spacing("lg")} + 24px) spacing("xs")
                spacing("sm");
        }
    }
}
