.select-language {
    @apply relative m-2;

    & p {
        @apply flex items-center gap-2 text-sm text-primary font-normal;
    }

    & select {
        @apply select select-bordered select-md inline-block text-lg;
        @apply appearance-none pr-10;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
        background-position: right 0.5rem center;
        background-repeat: no-repeat;
        background-size: 1.5em 1.5em;
    }
}

.language-flags {
    @apply flex flex-wrap justify-center gap-1 my-2;

    & span {
        @apply cursor-pointer transition-transform duration-300 ease-in-out;

        &:hover {
            @apply scale-110;
        }
    }
}

@screen sm {
    .select-language select {
        @apply text-base p-1 px-2;
    }
}
