.select-language {
    @apply flex flex-col gap-2 m-2;
}

.select-language__label {
    @apply flex items-center gap-2 text-sm text-primary;
}

.select-language__select {
    @apply select w-full;
}

/* Language flags */
.language-flags {
    @apply flex flex-wrap justify-center gap-2 my-2;
}

.language-flags__flag {
    @apply cursor-pointer transition-transform duration-300;
    @apply hover:scale-110 active:scale-95;
}
