.select-design__button {
    @apply btn btn-ghost gap-2;
}

.select-design__icon {
    @apply transition-transform duration-300;
}

.select-design__button:hover .select-design__icon {
    @apply scale-110;
}
