.select-theme__button {
    @apply btn btn-ghost gap-2;
}

.select-theme__icon {
    @apply transition-transform duration-300;
}

.select-theme__button:hover .select-theme__icon {
    @apply rotate-180;
}
