.challenge-actions {
    @apply card-base mt-8;
    @apply w-full flex-center;
}

.challenge-actions__buttons {
    @apply button-group;
}

.challenge-actions__button--next {
    @apply btn btn-primary btn-lg sm:btn-md;
}

.challenge-actions__button--previous {
    @apply btn btn-ghost btn-lg sm:btn-md;
}

.challenge-actions__button--help {
    @apply btn btn-outline btn-lg sm:btn-md;
}
