.challenge {
    @apply flex flex-col w-full gap-4;
}

.challenge__header {
    @apply flex-between gap-4 mb-6;
}

.challenge__header .challenge-info {
    @apply flex-grow;
}

.challenge__header .challenge-timer {
    @apply flex-shrink-0 min-w-[120px];
}
