.challenge {
    @apply flex flex-col w-full gap-adaptive;
}

.challenge__header {
    @apply flex-between gap-adaptive mb-6 sm:mb-4;
}

.challenge__header .challenge-info {
    @apply flex-grow;
}

.challenge__header .challenge-timer {
    @apply flex-shrink-0 min-w-[120px] sm:min-w-[100px];
}
