.multiple-choice-result__table {
    @apply table-base table-zebra;
}

.multiple-choice-result__header {
    @apply table-header;
}

.multiple-choice-result__header-cell {
    @apply table-header-cell;
}

.multiple-choice-result__row {
    @apply table-row;
}

.multiple-choice-result__row--correct:hover {
    @apply bg-success/10;
}

.multiple-choice-result__row--incorrect:hover {
    @apply bg-error/10;
}

.multiple-choice-result__cell {
    @apply table-cell;
}

.multiple-choice-result__cell--correct {
    @apply text-success font-medium;
}

.multiple-choice-result__cell--incorrect {
    @apply text-error font-medium;
}
