.multiple-choice-result__table {
    @apply table table-zebra w-full;
}

.multiple-choice-result__header {
    @apply bg-base-200 border-b border-base-300;
}

.multiple-choice-result__header-cell {
    @apply p-4 sm:p-2 text-left font-medium;
}

.multiple-choice-result__row {
    @apply border-b border-base-200 interactive;
}

.multiple-choice-result__row--correct:hover {
    @apply bg-success/10;
}

.multiple-choice-result__row--incorrect:hover {
    @apply bg-error/10;
}

.multiple-choice-result__cell {
    @apply p-4 sm:p-2;
}

.multiple-choice-result__cell--correct {
    @apply text-success font-medium;
}

.multiple-choice-result__cell--incorrect {
    @apply text-error font-medium;
}
