.multiple-choice-options {
    @apply challenge-options-grid-2x2;
}

.multiple-choice-option span {
    @apply btn btn-lg sm:btn-md;
    @apply bg-base-200 hover:bg-primary hover:text-primary-content;
    @apply interactive-scale;
}

.multiple-choice-option span:hover {
    @apply bg-primary text-primary-content;
}

.multiple-choice-option span.selected {
    @apply bg-primary text-primary-content;
}

.multiple-choice-option span.correct {
    @apply bg-success text-success-content;
}

.multiple-choice-option span.incorrect {
    @apply bg-error text-error-content;
}
