.challenge-rating {
    @apply badge badge-lg sm:badge-md gap-1;
    @apply bg-base-100 border-warning text-base-content;
    @apply shadow-sm interactive;
    @apply inline-flex items-center justify-start;
}

.challenge-rating:hover {
    @apply bg-warning/10 scale-105 shadow-md;
}

.challenge-rating__star {
    @apply mask mask-star-2 bg-warning;
    @apply w-4 h-4 sm:w-3 sm:h-3;
    font-size: 0;
    display: inline-block;
}
