.sort-table {
    @apply challenge-layout-content;
}

.sort-table__title {
    @apply text-adaptive-xl font-bold;
}

.sort-table__description {
    @apply text-adaptive-md text-base-content/60 leading-normal;
}

.sort-table__table {
    @apply table-base border-separate border-spacing-0;
    @apply rounded-md overflow-hidden shadow-sm;
}

.sort-table__header {
    @apply table-header bg-primary;
}

.sort-table__header-cell {
    @apply table-header-cell text-adaptive-lg text-primary-content;
}

.sort-table__body-row {
    @apply table-row;
}

.sort-table__body-row:nth-child(even) {
    @apply bg-base-100;
}

.sort-table__body-row:nth-child(odd) {
    @apply bg-base-200;
}

.sort-table__body-row:hover,
.sort-table__body-row--selected {
    @apply bg-base-300;
}

.sort-table__body-cell {
    @apply table-cell text-adaptive-md;
    @apply cursor-move select-none;
}

.sort-table__body-cell:hover {
    @apply bg-base-200;
}

.sort-table__body-cell--selected {
    @apply bg-primary/10 text-base-content;
}

.sort-table__body-cell--dragging {
    @apply opacity-50 bg-primary/10;
}

.sort-table__actions {
    @apply button-group justify-center;
}

.sort-table__actions-button {
    @apply btn btn-primary btn-lg sm:btn-md;
}
