@use "sass:map";

$badge-configs: (
    "size": (
        "sm": 24px,
        "md": 36px,
        "lg": 56px,
    ),
    "counter": (
        "sm": 16px,
        "md": 20px,
        "lg": 24px,
    ),
);

@mixin badge($config: ()) {
    $default-config: (
        size: "md",
        circular: false,
        counter: false,
        theme: "primary",
        text: "light",
        shadow: "soft",
        padding: "sm",
        radius: "sm",
        counter-theme: "danger",
    );
    $config: map-merge($default-config, $config);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    $badge-size: map.get($badge-configs, "size", map.get($config, size));
    $counter-size: map.get($badge-configs, "counter", map.get($config, size));

    @if map.get($config, circular) {
        width: $badge-size;
        height: $badge-size;
        border-radius: border-radius("full");
        padding: 0;
    } @else if map.get($config, counter) {
        min-width: $counter-size;
        height: $counter-size;
        border-radius: $counter-size;
        background-color: color(map.get($config, counter-theme));
        color: color(map.get($config, text));
        font-size: font-size("300");
        font-weight: font-weight("bold");
    } @else {
        padding: spacing(map.get($config, padding));
        border-radius: border-radius(map.get($config, radius));
    }
    background-color: color(map.get($config, theme));
    color: color(map.get($config, text));
    @include card-shadow(map.get($config, shadow));
}

@mixin badge-circular($size: "md", $config: ()) {
    $circular-config: (
        circular: true,
        size: $size,
    );
    @include badge(map-merge($circular-config, $config));
}

@mixin badge-counter($size: "sm", $config: ()) {
    $counter-config: (
        counter: true,
        size: $size,
        counter-theme: "danger",
    );
    @include badge(map-merge($counter-config, $config));
}

@mixin badge-tooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease,
        transform 0.3s ease;
    z-index: z-index("tooltip");
}
