@use "sass:map";

$badge-configs: (
    "size": (
        "sm": 24px,
        "md": 36px,
        "lg": 56px,
    ),
    "counter": (
        "sm": 16px,
        "md": 20px,
        "lg": 24px,
    ),
);

@mixin badge-base($config: ()) {
    $default-config: (
        padding: "sm",
        radius: "sm",
        theme: "primary",
        text: "light",
        shadow: "soft",
    );
    $config: map-merge($default-config, $config);

    display: inline-flex;
    align-items: center;
    padding: spacing(map.get($config, padding));
    border-radius: border-radius(map.get($config, radius));
    background-color: color(map.get($config, theme));
    color: color(map.get($config, text));
    @include card-shadow(map.get($config, shadow));
}

@mixin badge-circular($size: "md", $config: ()) {
    $default-config: (
        shadow: "default",
        theme: "primary",
        text: "light",
        radius: "full",
        padding: "none",
    );
    $config: map-merge($default-config, $config);

    @include badge-base($config);

    $badge-size: map.get($badge-configs, "size", $size);
    width: $badge-size;
    height: $badge-size;

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

@mixin badge-counter($size: "sm", $config: ()) {
    display: flex;
    align-items: center;
    justify-content: center;

    $default-config: (
        theme: "danger",
        text: "light",
        shadow: "soft",
    );
    $config: map-merge($default-config, $config);

    $counter-size: map.get($badge-configs, "counter", $size);

    min-width: $counter-size;
    height: $counter-size;
    background-color: color(map.get($config, theme));
    color: color(map.get($config, text));
    font-size: font-size("300");
    font-weight: font-weight("bold");
    border-radius: $counter-size;
    @include card-shadow(map.get($config, shadow));
}

@mixin badge-tooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease,
        transform 0.3s ease;
    z-index: z-index("tooltip");
}
