.app-version {
    @apply card bg-base-100 p-4 shadow-sm rounded-md;
    @apply max-w-[400px] sm:w-full font-mono;
}

.app-version__main {
    @apply flex flex-col gap-2 sm:gap-1;
}

.app-version__version,
.app-version__build {
    @apply flex justify-between items-center gap-2;
}

.app-version__details {
    @apply flex flex-col gap-2;
    @apply pt-4 border-t border-base-300;
    @apply text-sm sm:text-xs;
}

.app-version__item {
    @apply flex justify-between items-center gap-4;
}

.app-version__label {
    @apply text-base-content/60 text-sm sm:text-xs;
    @apply min-w-[100px] sm:min-w-[80px];
    @apply flex items-center gap-1;
}

.app-version__value {
    @apply text-base-content font-medium text-right;
    @apply overflow-hidden text-ellipsis;
    @apply text-sm sm:text-xs;
}
