.badge__content {
    @apply badge badge-lg bg-primary text-primary-content shadow-lg;
    @apply cursor-pointer relative z-50 right-8;
    @apply hover:-translate-y-0.5 hover:shadow-xl;
    @apply transition-all duration-300;
}

.badge__label {
    @apply font-bold;
}

.badge__tooltip {
    @apply absolute -bottom-2 left-1/2 -translate-x-1/2;
    @apply w-[150px] text-center text-sm;
    @apply bg-primary text-primary-content;
    @apply shadow-md p-2 rounded-lg;
    @apply opacity-0 invisible -translate-y-2;
    @apply hover:opacity-100 hover:visible hover:translate-y-0;
    @apply transition-all duration-300;
    @apply z-[100] pointer-events-none;
}

.badge__content:hover .badge__tooltip {
    @apply opacity-100 visible translate-y-0;
}

@screen sm {
    .badge__content {
        @apply hidden;
    }
}
