.profile-config {
    @apply flex items-center gap-4 p-2;
}

.profile-config h2 {
    @apply sr-only;
}

.profile-config label {
    @apply text-sm font-medium text-base-content/70 whitespace-nowrap;
}

.profile-config input {
    @apply input input-sm min-w-[200px] max-w-xs;
}

.profile-config button {
    @apply btn btn-primary btn-sm;
}
