.rating-stars {
    @apply gap-1 flex justify-center;

    .rating-stars__star {
        @apply mask mask-star-2 transition-transform duration-200 ease-in-out cursor-pointer;
        min-height: 2rem;
        min-width: 1rem;
        font-size: 0; /* Hide the star character */
        display: inline-block;
    }

    .rating-stars__star:hover {
        @apply scale-110 bg-warning;
    }

    .rating-stars__star--full {
        @apply bg-primary;
    }

    .rating-stars__star--half {
        @apply mask-half-1 bg-warning;
    }

    .rating-stars__star--empty {
        @apply bg-base-300;
    }
}

@screen sm {
    .rating-stars {
        .rating-stars__star {
            min-height: 1.5rem;
            min-width: 0.75rem;
        }
    }
}
