.timer {
    @apply card bg-base-100 shadow-sm p-4 sm:p-3 relative;
}

.timer__title {
    @apply absolute top-1 left-2;
    @apply text-xs sm:text-[10px] font-medium text-base-content/70;
}

.timer__text {
    @apply countdown font-mono text-2xl sm:text-xl;
    @apply flex justify-center items-center mt-4 sm:mt-3;
}
