.challenge-config {
    @include card(
        (
            theme: "dark",
        )
    );
    z-index: z-index("modal");
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-grow: 1;
}
