$paper-gradient-start: #faf3e0;
$paper-gradient-end: #f2e0c9;

.informative-markdown {
    @include card;
    background: linear-gradient(
            to bottom right,
            $paper-gradient-start,
            $paper-gradient-end
        )
        no-repeat;
    background-size: cover;
    @include elevation(3);

    img {
        max-width: 100%;
        height: auto;
        border-radius: spacing("sm");
        margin-bottom: spacing("md");
    }

    button {
        @include action-button("md");
        margin-top: spacing("md");
    }

    .markdown-content {
        text-align: left;
        color: color("dark");
        line-height: 1.6;
        padding: spacing("md");
        font-family: font("primary");
        font-size: font-size("400");

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: font("heading");
            color: color("primary");
            margin-top: spacing("lg");
            margin-bottom: spacing("md");
            @include material-h4;
        }

        p {
            margin-bottom: spacing("md");
        }

        a {
            color: color("primary");
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: color("hover");
            }
        }
    }

    @include respond-to("medium") {
        transform: rotate(-1deg);
        max-width: 800px;
        padding: spacing("lg");

        .markdown-content {
            font-size: font-size("500");
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @include material-h3;
        }
    }

    @include respond-to("small") {
        transform: none;
        padding: spacing("md");

        .markdown-content {
            font-size: font-size("300");

            padding: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @include material-h5;
        }
    }
}
