.multiple-choice {
    @include vertical-layout(
        (
            gap: "xl",
            align: stretch,
        )
    );
    max-width: 800px;
    min-width: 400px;
    width: fit-content;
    margin: 0 auto;
    padding: spacing("xl");

    .progress {
        width: 100%;
    }

    &-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: spacing("md");
        width: 100%;
    }

    &-option {
        max-width: 200px;
        border-radius: border-radius("sm");
        font-size: font-size("300");
    }
}
