.multiple-choice-option {
    span {
        @include card(
            (
                padding: "sm",
                shadow: "soft",
                theme: "background-primary",
            )
        );
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        min-height: 50px;
        max-width: 240px;
        border-radius: border-radius("full");
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: font-size("300");
        text-align: center;
        hyphens: auto;

        &:hover {
            transform: scale(1.1);
            background-color: color("primary");
            color: color("light");
            z-index: z-index("tooltip");
        }
    }
}
