.feedback {
    z-index: z-index("floating");

    &__bubble {
        @include primary-button("md");
        @include horizontal-layout(
            (
                gap: "sm",
                align: center,
            )
        );
    }

    &__bubble-icon {
        @include icon-button("md");
    }

    &__bubble-text {
        @include material-body2;
        font-weight: font-weight("bold");
    }

    &__content {
        position: relative;

        @include card(
            (
                theme: "background-primary",
                shadow: "medium",
                padding: "lg",
            )
        );
        max-width: 300px;
        display: none;

        .feedback--expanded & {
            display: block;
        }
    }

    &__title {
        @include heading(4);
        margin-bottom: spacing("md");
    }

    &__close {
        @include icon-button("sm");
        position: absolute;
        top: spacing("sm");
        right: spacing("sm");
    }

    &--expanded {
        .feedback__bubble {
            display: none;
        }
    }

    @include respond-to("small") {
        &__bubble {
            padding: spacing("xs") spacing("sm");
        }

        &__bubble-icon {
            font-size: font-size("600");
        }

        &__content {
            padding: spacing("sm");
            max-width: 250px;
        }

        &__title {
            @include heading(5);
        }
    }
}
