.share-page {
    @include card(
        (
            padding: "lg",
            shadow: "medium",
            theme: "background-primary",
        )
    );
    @include centered-container;
    gap: spacing("md");

    &__input {
        @include centered-input;
    }

    &__message {
        @include status-message("success");
    }
}
