.status-message {
    @include card;
    @include vertical-layout;

    &__title {
        font-family: font("ui");
        font-size: font-size("xl");
        font-weight: font-weight("medium");
        margin: 0;
    }

    &__content {
        font-family: font("primary");
        font-size: font-size("md");
        line-height: line-height("normal");
        margin: 0;
    }

    &--info {
        border-left: 4px solid color("info");
        background-color: lighten-color("info", 1.9);

        .status-message__title,
        .status-message__content {
            color: darken-color("info", 0.7);
        }
    }

    &--warning {
        border-left: 4px solid color("warning");
        background-color: lighten-color("warning", 1.9);

        .status-message__title,
        .status-message__content {
            color: darken-color("warning", 0.7);
        }
    }

    &--error {
        border-left: 4px solid color("danger");
        background-color: lighten-color("danger", 1.9);

        .status-message__title,
        .status-message__content {
            color: darken-color("danger", 0.7);
        }
    }

    @include respond-to("small") {
        margin: spacing("3");

        &__title {
            font-size: font-size("lg");
        }

        &__content {
            font-size: font-size("sm");
        }
    }
}
