@layer utilities {
    /* All icon styles in utilities */
    .icon {
        @apply inline-block transition-transform duration-300;
    }

    .icon-sm {
        @apply text-lg;
    }

    .icon-md {
        @apply text-2xl;
    }

    .icon-lg {
        @apply text-4xl;
    }

    .icon-interactive {
        @apply inline-block transition-transform duration-300;
    }

    .icon-interactive:hover {
        @apply scale-110;
    }
}
