@layer utilities {
    .text-title {
        @apply text-2xl font-bold text-base-content sm:text-xl;
    }

    .text-subtitle {
        @apply text-lg font-semibold text-base-content sm:text-base;
    }

    .text-body {
        @apply text-base text-base-content sm:text-sm;
    }

    .text-caption {
        @apply text-sm text-base-content/60 sm:text-xs;
    }

    .heading-xl {
        @apply text-3xl md:text-4xl font-bold sm:text-2xl;
    }

    .heading-lg {
        @apply text-2xl md:text-3xl font-bold sm:text-xl;
    }

    .heading-md {
        @apply text-xl md:text-2xl font-bold sm:text-lg;
    }

    .text-ellipsis-2 {
        @apply overflow-hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .text-ellipsis-3 {
        @apply overflow-hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
