@mixin card-layout {
    &__header,
    &__body,
    &__footer {
        width: 100%;
        margin-bottom: spacing("md");
    }

    &__header {
        border-bottom: 1px solid color("border-primary");
        padding-bottom: spacing("sm");
    }

    &__body {
        flex: 1;
        padding: spacing("md") 0;
    }

    &__footer {
        border-top: 1px solid color("border-primary");
        padding-top: spacing("sm");
        margin-top: auto;
    }
}
