@mixin vertical-layout($config: ()) {
    $default-config: (
        gap: "md",
        align: flex-start,
        justify: flex-start,
    );
    $config: map-merge($default-config, $config);

    display: flex;
    flex-direction: column;
    align-items: map-get($config, align);
    justify-content: map-get($config, justify);
    gap: spacing(map-get($config, gap));
}
